body {
 background-color: #00ff0005;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10%;
}
.Header {
  color: white;
  background-color: Grey;
  text-align: center;
  border: 10px solid black;
  margin-bottom: 20px;
}
.Exp-header {
  text-align: center;
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
  text-transform: uppercase;
}
.Edu-header {
  text-align: center;
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
  text-transform: uppercase;
}
.Footer {
  color: white;
  background-color: Grey;
  border: 8px solid black; 
  text-align: right;
}
img{
 width: 100px;
}
